.jumbotron {
  border: grey solid 1px;
  box-shadow: 9px 18px 39px 10px rgba(181,170,181,1);
  width: 100%;



  input, .input-group {
    margin: 7px;
  }
}

.card {
  margin: 0 auto;
  float: none;
  border: 1px dodgerblue solid;

  input {
    margin: 15px;
  }
}
