
<!-- start navbar-->
<nav class="navbar navbar-dark bg-primary">
  <div class="nav-item w-25">
    <div class="input-group ">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Board</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01" (change)="changeBoard($event)">
        <option *ngFor="let b of boards; let id = index" [value]="b[0]">{{b[1]}}</option>
      </select>
    </div>
  </div>

  <span class="text-right">
    <span class="navbar-text text-white">
      Willkommen {{trelloUser?.fullName}}
    </span>
    <button class="btn ml-2" (click)="logout()">Logout</button>
  </span>
</nav>
<!-- end navbar-->

<!-- start container for buttons calender and add-card -->
<div class="container-fluid" style="margin-top: 20px">

  <!--create new Board-->
  <a class="btn btn-primary rounded  btn-lg" routerLink="/create-board" routerLinkActive="active" role="button">
    <i class="fas fa-plus-circle fa-2x"></i> create new Board
  </a>

  <!--create new Card-->
  <a class="btn btn-primary rounded  btn-lg" routerLink="/create-card" routerLinkActive="active" role="button">
    <i class="fas fa-plus-circle fa-2x"></i> add new card
  </a>

  <!--show in Calender-->
  <a class="btn btn-primary rounded  btn-lg float-right" routerLink="/calender" routerLinkActive="active" role="button">
    <i class="far fa-calendar-alt fa-2x"></i> show in calender
  </a>

</div>
<!-- end container for buttons calender and add-card -->

<div class="container-fluid" style="margin-top: 20px">
  <div class="row">

    <!--OVERDUE LIST-->
    <div class="col-sm-4">
      <div class="card bg-light">
        <div class="card-header bg-light border-0 pl-3">
          <h6 class="my-0 font-weight-bold text-secondary" style="text-transform: uppercase">
            <i class="fas fa-exclamation-triangle fa-3x"></i>  Overdue
          </h6>
        </div>

        <div *ngIf="cards?.overdue.length < 1" class="alert alert-primary m-1" role="alert">
          NO OVERDUE CARDS
        </div>

        <div *ngFor="let c of cards?.overdue" class="m-1">
          <div class="card bg-white">
            <div class="card-body p-2">
              <p class="text-left mb-3 text-dark font-weight-bold">{{c.name}}</p>
              <div class="row">
                <div class="col">
                  <span class="text-left bg-danger small text-white p-1 rounded">
                     <i class="fas fa-clock"></i>{{getDateDiff(c.badges.due)}}
                  </span>
                </div>

                <div class="col">
                  <a *ngIf="c.desc.length > 0" class="small float-right" data-toggle="collapse" href="#collapse{{c.id}}" role="button" aria-expanded="false" aria-controls="collapseExample" >
                    Description
                  </a>
                </div>

              </div>

              <div *ngIf="c.desc.length > 0" class="collapse mt-1" id="collapse{{c.id}}">
                <div class="card card-body small p-3">{{c.desc}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">

        </div>
      </div>
    </div>
    <!--END OVERDUE LIST-->

    <!--START DUE TODAY LIST-->
    <div class="col">
      <div class="card bg-light">
        <div class="card-header bg-light border-0 pl-3">
          <h6 class="my-0 font-weight-bold text-secondary" style="text-transform: uppercase">
            <i class="fas fa-info-circle fa-3x"></i>  DUE TODAY
          </h6>
        </div>

        <div *ngIf="cards?.overdueToday.length < 1" class="alert alert-primary m-1" role="alert">
          NO OVERDUE CARDS TODAY
        </div>

        <div *ngFor="let c of cards?.overdueToday" class="m-1">
          <div class="card bg-white">
            <div class="card-body p-2">
              <p class="text-left mb-3 text-dark font-weight-bold">{{c.name}}</p>
              <span class="text-left bg-warning small text-dark p-1 rounded">TODAY</span>

              <a *ngIf="c.desc.length > 0" class="small float-right" data-toggle="collapse" href="#collapse1{{c.id}}" role="button" aria-expanded="false" aria-controls="collapseExample" >
                Description
              </a>

              <div *ngIf="c.desc.length > 0" class="collapse mt-1" id="collapse1{{c.id}}">
                <div class="card card-body small p-3">{{c.desc}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer">

        </div>
      </div>
    </div>
    <!--END DUE TODAY LIST-->

    <!--START STILL-OPEN LIST-->
    <div class="col">
      <div class="card bg-light">
        <div class="card-header bg-light border-0 pl-3">
          <h6 class="my-0 font-weight-bold text-secondary" style="text-transform: uppercase">
            <i class="fas fa-arrow-alt-circle-right fa-3x"></i> STILL OPEN
          </h6>
        </div>

        <div *ngIf="cards?.stillOpen.length < 1" class="alert alert-primary m-1" role="alert">
          NO OPENED DUE CARDS TODAY
        </div>

        <div *ngFor="let c of cards?.stillOpen" class="m-1">
          <div class="card bg-white">
            <div class="card-body p-2">
              <p class="text-left mb-3 text-dark font-weight-bold">{{c.name}}</p>
              <span class="text-left bg-info small text-dark p-1 rounded">
                <i class="fas fa-clock"></i>
                {{getDateFutur(c.badges.due)}}
              </span>

              <a *ngIf="c.desc.length > 0" class="small float-right" data-toggle="collapse" href="#collapse2{{c.id}}" role="button" aria-expanded="false" aria-controls="collapseExample" >
                Description
              </a>

              <div *ngIf="c.desc.length > 0" class="collapse mt-1" id="collapse2{{c.id}}">
                <div class="card card-body small p-3">{{c.desc}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer">

        </div>
      </div>
    </div>
    <!--END STILL-OPEN LIST-->

  </div>
</div>

